@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap'); 
:root {
    --bgcolor: #223344;
    --bgColor2: blue;
    --accentcolor:white;
    --font:'Karla', sans-serif;
    --delay:.3s;



}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background-image: url(YD-00401.jpg);
    opacity: 0;
    animation: 1s ease-out var(--delay)1 transitionAnimation;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#profilePicture, #profilePicture img {
    position: relative;
    width: 125px;
    height: 125px;
    display: block;
    margin: 40px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
     
}
#userName {

    color: var(--accentcolor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration:none;
}

#links {

    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link {
    position: relative;
    background-color: transparent;
    color: var(--accentcolor);
    border: solid var(--accentcolor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
.link:hover {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
}

}
.link:active {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
}
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition:  . 5s ease-in-out;

}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.overlay:target .popup {
    transform: scale(1);
    top: 0;
}
